* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

#calculator {
    background-color: grey;
    padding: 16px;
    width: 350px;
    border-radius: 12px;
}

#display {
    background-color: yellowgreen;
    text-align:end;
    font-size: 3rem;
    margin-bottom: 10px;
    padding-right: 10px;
    border: solid black 2px;
    border-radius: 12px;
}

button {
    background-color: #222;
    color: #eee;
    font-size: 1.5rem;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    height: 75px;
    width: 75px;
    margin-bottom:5px;
}

button:active {
    filter: brightness(125%);
    color: yellow;
}

.operand {
    background-color: #222;
}

.number {
    background: #333;
}

.zero {
    width: 155px;
}